@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Roboto:wght@300&display=swap');

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */
 .site-header {
  background-color: white;
}

.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.header-pic {
  background-image:url(../images/beach.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#logo {
  height: 140px;
 
 }

 nav a {
  float: none;
  left: 42%;
  position: relative;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

 /* Colors */
 

#header-top {
  color: white;
}

.bg-back {
  background-color:#f8e9cc;
}

.grey {
  color: #666565;
}

#day-after {
  background-color: black;
}

/* Text centered */

.centered {
  text-align: center;
}

/* LOGOS */



.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.acco-photo:hover {
  cursor: pointer;
}

.hotel-pic {
  display: block;
  max-width: 100%;
  height: auto;
}




/* Taxi part */ 


.taxi {
  height: 500px;
}

.taxi-board {
  
}


/* Order of day section */

#order-day h3 {
  text-align: center;
  margin-top: 25px;
  font-family: 'Cormorant', serif;
}

#order-day p {
  margin-top: 80px;
  margin-left: 13rem;
  line-height: 35pt;
  
}

#day-after h3 {
  text-align: center;
  margin-top: 25px;
  color: white;
}

#day-after p {
  margin-top: 120px;
  margin-left: 35px;
  line-height: 20pt;
  color: white;
}
/* Form section */ 

textarea {
  resize: none;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}



@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }

  /*.m-md-3 {
    margin: 0px!important;
  }*/
}